.projects, footer, header, .intro {
	display: flex;
	flex-wrap: wrap;
}

/*header*/

@media screen and (max-width: 300px) {
	.header-title {
		font-size: 10px;
		width: 75%;
	}
	.header-logo {
		width: 10%;
	}
}

@media screen and (min-width: 301px) and (max-width: 430px) {
	.header-title {
		font-size: 12px;
		width: 80%;
	}
	.header-logo {
		width: 10%;
	}
}

@media screen and (max-width: 576px){
   
  
    .header-logo  {
        order: 0;
        clear: both;
        margin: auto;
        float: none;
        padding: 0px;
        margin: auto;
       }
       
       .header-title {
           order: 1;
           clear: both;
           text-align: center;
       }
       
       .section-title{
           clear:both;
           text-align: center;
       }
}
